<a href="https://colab.research.google.com/github/Aftabgazali/Implementaing-of-ANN-/blob/main/Implementing_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [ ]:
df=pd.read_excel('Folds5x2_pp.xlsx')

In [ ]:
df.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [ ]:
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
ann=tf.keras.models.Sequential()

### **Adding First Hidden Layer**

In [ ]:
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))

## **Adding Second Hidden Layer**

In [ ]:
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))

## **Adding Output Layer**

In [ ]:
# For Regression use Default Activation function, for Classification use Sigmoid
ann.add(tf.keras.layers.Dense(units=1))

## **Compiling the ANN**

In [ ]:
ann.compile(optimizer='adam', loss='mean_squared_error')

### **Train and Test**

In [ ]:
ann.fit(X_train,y_train,batch_size=32,epochs=100)

## **Predicting the Results**

In [ ]:
y_pred=ann.predict(X_test)

In [ ]:
np.set_printoptions(precision=2)

In [ ]:
y_test.reshape(len(y_test),1)

array([[431.23],
       [460.01],
       [461.14],
       ...,
       [473.26],
       [438.  ],
       [463.28]])

In [ ]:
np.concatenate((y_pred.reshape(len(y_test),1),y_test.reshape(len(y_test),1)),1)

array([[431.6 , 431.23],
       [462.62, 460.01],
       [466.1 , 461.14],
       ...,
       [473.37, 473.26],
       [440.1 , 438.  ],
       [459.34, 463.28]])